body,
html {
	font-size: 16px;
	line-height: 1.5em;
	/* Height and Width for landing page image to cover 100% */
	min-height: 100%;
	min-width: 100%;
	margin: 0;
}

main {
	width: 100;
	height: 100;
}

body,
html,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lato', sans-serif;
	/* font-family: 'Play', sans-serif; */
	width: 100%;
}
body {
	/* border: 1px solid black; */
	text-align: center;
	width: 100%;
	padding-top: 60px;
}

header {
	width: 100vw;
}
.logo_img {
	width: 22%;
	height: 70px;
}

/* **************** navbar ***************** */
#navbar {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background: black;
	color: white;
	position: fixed;
	top: -10px;
	width: 100vw;
	z-index: 1;
	margin-bottom: 50px;
}
#navbar a {
	color: white;
	padding: 24px;
	text-align: center;
	text-decoration: none;
	width: 100%;
	border-radius: 50px;
	transition: ease-in-out 0.3s;
}

#navbar a:hover {
	color: black;
	background-color: #ddd;
}

/* **************** about ***************** */
.about {
	margin-top: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px auto;
	width: 100%;
}
.about p {
	width: 100%;
}
.about h1 {
	/* border-top: 1px solid gray;
	border-bottom: 1px solid gray; */
	width: auto;
}
.about .id-photo {
	width: 100%;
	/* margin-bottom: 5px; */
	border-bottom: 1px solid grey;
}
.about-content {
	display: flex;
	width: 100%;
	/* flex-direction: column; */
	justify-content: space-evenly;
}

.about-card {
	position: relative;
	box-shadow: 0 1.2px 4px 0 black;
	border-radius: 5px;
	width: 300px;
	margin-bottom: 20px;
}
.about-card h1 {
	width: 100%;
	margin-bottom: 10px;
	padding-bottom: 30px;
	/* border-bottom: 1px solid rgb(106, 106, 106); */
}

.about-content-right {
	display: flex;
	flex-direction: row;
	margin-right: 10px;
	margin-left: 10px;
	padding-left: 10px;
}
.top-content {
	width: 100%;
}
.top-content h1 {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 15px;
	width: 100%;
}
.bottom-content {
	width: 100%;
	background: rgb(245, 245, 245);
}
.bottom-content h1 {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 15px;
	width: auto;
}
.bottom-content-info {
	text-align: center;
	align-items: center;
	/* width: 80%; */
}

/* **************** contact ***************** */
.contact {
	/* display: flex;
	flex-direction: column; */
	/* justify-content: center; */
	width: 100%;
	/* align-items: center; */
	margin: 15px auto;
	background: rgb(245, 245, 245);
}
.contact-container {
	display: flex;
	flex-direction: row;

	/* flex-direction: column; */
	justify-content: space-evenly;
	margin: 5px auto;
	padding-right: 20px;
}

.contact h1 {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 15px;
	width: 100%;
}
ul {
	display: inline-block;
}
li {
	text-align: left;
}
/* **************** work ***************** */
#work {
	width: 100%;
	text-align: center;
}
#work h1 {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 15px;
	width: 100%;
}
.work-item p {
	text-align: left;
}
.work-content {
	/* width: 100%; */
	margin: 0px 20px;
	display: flex;
	flex-wrap: wrap;
	padding: 0px 20px;
}
/* .work-content > * {
	flex: 1 1 50%;
} */
.work-item {
	width: 50%;
}
.work-item h3 {
	text-align: center;
}
.work-item {
	text-align: start;
}
/* **************** mobile screen ***************** */
@media only screen and (max-width: 600px) {
	body {
		width: 90%;
		border: 0px;
		margin: auto;
		font-size: 16px;
	}
	.about-content {
		display: flex;
		flex-direction: column;
		margin: auto;
		padding: 2px auto;
	}
}
