body,
html {
	font-size: 16px;
	line-height: 1.5em;
	/* Height and Width for landing page image to cover 100% */
	min-height: 100%;
	min-width: 100%;
	margin: 0;
}

main {
	width: 100;
	height: 100;
}

body,
html,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lato', sans-serif;
}
body {
	border: 1px solid black;
	text-align: center;
}

header {
	width: 100vw;
}
.logo_img {
	width: 20%;
	height: 70px;
}
#navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
	color: white;
	position: fixed;
	top: -10px;
	width: 100vw;
	z-index: 1;
	margin-bottom: 50px;
}
#navbar a {
	color: white;
	padding: 24px;
	text-align: center;
	text-decoration: none;
	width: 100%;
	border-radius: 50px;
	transition: ease-in-out 0.3s;
}

#navbar a:hover {
	color: black;
	background-color: #ddd;
}

.about {
	margin-top: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.about .id-photo {
	width: 100%;
	/* margin-bottom: 5px; */
}

.about-card {
	position: relative;
	box-shadow: 0 1.2px 4px 0 black;
	border-radius: 5px;
	width: 400px;
	margin-bottom: 20px;
}
.about-card h1 {
	margin-bottom: 10px;
	padding-bottom: 30px;
	border-bottom: 1px solid rgb(106, 106, 106);
}
